@layer theme, base, antd, components, utilities;

@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

@theme {
  --color-card: #0F0E0E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
